.header {
   width: 100%;
   box-shadow: rgb(0 0 0 / 16%) 0px 0px 7px;
   height: 70px;

   nav {
      display: flex;
      align-items: center;
   }

   p {
      font-weight: bold;
      font-size: 22px;
      cursor: pointer;
   }
}
